*
!/.gitignore
!/README.md
!/LICENSE
!/CREDITS.md
!/build.gradle.kts
!/settings.gradle.kts
!/stonecutter.gradle.kts
!/gradle.properties
!/gradlew
!/gradlew.bat
!/gradle/
!/gradle/**
!/src/
!/src/**

# Build-time icon sources used by generateVanillaUiAssets.
!/assets/
!/assets/icons/
!/assets/icons/**

!/addon-templates/
!/addon-templates/**
/addon-templates/**/.gradle/
/addon-templates/**/build/
/mc-src*/
/.gradle/
/build/
/out/
/run/
/src/main/resources/assets/template/

!/26x/
!/26x/**
/26x/.gradle/
/26x/build/
/26x/out/
/26x/run/
/26x/versions/
/26x/addon-templates/**/build/
/26x/mc-src*/
/26x/src/main/resources/assets/template/
